VITE_SUPABASE_URL=https://tkdbonrhwhimcdrsfpnz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5vV044_nCzJddglTX5X1Sw_H8Cp7ff6
VITE_APP_URL=https://ais-dev-wo26r5hoyurjsnncwbjvgl-343558539099.asia-east1.run.app
SUPABASE_SERVICE_ROLE_KEY=sb_secret_QUgpiQAOz-HD8M5BQ8Zdhg_Rfe2xaJg
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.tkdbonrhwhimcdrsfpnz.supabase.co:5432/postgres
GEMINI_API_KEY=
NUMVERIFY_API_KEY=
SHODAN_API_KEY=
CENSYS_API_KEY=
