VITE_SUPABASE_URL=https://valskfspcyfrnllojahy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhbHNrZnNwY3lmcm5sbG9qYWh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1ODA1ODIsImV4cCI6MjA5MjE1NjU4Mn0.dFD9Srkao8drf4VgIOP1VuD67KhaOEUvYO_d_7aBOuM
VITE_APP_URL=https://cybercord1.vercel.app
SUPABASE_SERVICE_ROLE_KEY=sb_secret_QUgpiQAOz-HD8M5BQ8Zdhg_Rfe2xaJg
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.tkdbonrhwhimcdrsfpnz.supabase.co:5432/postgres
GEMINI_API_KEY=AIzaSyASA0bfxdfQnUazENSBARZf21OSC2kcNgQ
NUMVERIFY_API_KEY=
SHODAN_API_KEY=
CENSYS_API_KEY=
